<div class="sidebar" id="sidebar">
    <button id="closeBtn" class="close-btn">&times;</button>

    <a href="https://mateamohammed019-cloud.github.io/Ghout-Al-Busali/index.html">
        الرئيسية
    </a>

    <a href="https://mateamohammed019-cloud.github.io/Ghout-Al-Busali/pages/cotactus.html">
        عن الشركة
    </a>

    <a href="https://mateamohammed019-cloud.github.io/Ghout-Al-Busali/index.html#products">
        المنتجات
    </a>

    <a href="https://mateamohammed019-cloud.github.io/Ghout-Al-Busali/index.html#services">
        الخدمات
    </a>

    <a href="https://mateamohammed019-cloud.github.io/Ghout-Al-Busali/pages/cotactus.html">
        اتصل بنا
    </a>
</div>
